<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/bofo.css">
    </head>
    <body>
        {% include 'header.html.twig' %}
        <h1>Administrateur</h1>
        <div class="button">
            <a href="{{ path('choixGestion') }}"><input class="gest" type='button' value="Gestions des données"/></a>
            <a href="{{ path('listEntreprise') }}"><input class="list" type='button' value="Accès à la liste des entreprises"/></a>
        </div>
    </body>
</html>