<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/choixGestion.css">
    </head>
    <body>
        {% include 'header.html.twig' %}
        <h1>Que souhaitez-vous gérer ?</h1>
        <div class="but">
            <a href="{{ path('gestEntreprise') }}"><input class='entr' type='button' value="Gérer les entreprises"/></a>
            <a href="{{ path('gestUtil') }}"><input class='util' type='button' value="Gérer les utilisateurs"/></a>
        </div>
        <button onclick="history.back();">Retour</button>
    </body>
</html>