<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styleChoixGest.css">
    </head>
    <body>
        <h1>Que souhaitez-vous gérer ?</h1>
        <a href="{{ path('gestEntreprise') }}"><input type='button' value="Gérer les entreprises"/></a>
        <a href="{{ path('gestUtil') }}"><input type='button' value="Gérer les élèves"/></a>
        <button onclick="history.back();">Retour</button>
        <a href="{{ path('connexion') }}"><input type='button' value="Déconnexion"/></a>
    </body>
</html>