<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/bofo.css">
    </head>
    <body>
        {% include 'header.html.twig'%}
        <h1>Gestion Entreprise</h1>
    </body>
</html>