body{
    background-color: darkgrey;
}

h1{
    text-align: center;
}

input{
    background: transparent;
    padding: 10px;
    border-style: none;
    gap : 0;
    background: orange;
}

.button{
    border: solid;
    border-radius: 250px;
    /* background: orange; */
    border-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 250px;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.gest:hover , .list:hover{
    background: rgb(224, 228, 5);
}

.gest{
    border-top-left-radius: 250px;
    border-bottom-left-radius: 250px;
    height: 250px;
    width: 250px;
    padding-right: 500px;
}

.list{
    border-top-right-radius: 250px;
    border-bottom-right-radius: 250px;
    height: 250px;
    width: 250px;
    padding-right: 500px;
}

a{
    text-align: center;
    height : 0;
}