.all{
    background-color: #121212;
    margin : 0px;
    color : White;
    padding : 10px;
}

.titre{
    text-align: left;
    margin : 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left : 10px;
    display: inline-block;
}

.co{
    margin: 0px;
    float : right;
    margin-top: 10px;
    margin-right : 10px;
    border-radius: 250px;
    background: orange;
    padding: 10px;
    border-style: none;
}

.co:hover{
    background: red;
}