.loginform {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #007bff;
  }
  
  .loginform input[type="text"], 
  .loginform input[type="password"], 
  .loginform input[type="email"], 
  .loginform select {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border: none;
    background-color: #f8f9fa;
  }
  
  .loginform input[type="submit"] {
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    display: block;
    width: 100%;
    border: none;
    background-color: #ffffff;
    color: #007bff;
    font-weight: bold;
  }